.description {
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin: 20px;
}

.description img {
    height: 400px;
}

button img {
    width: 30px;
}

button {
    background-color: #212529;
    border: none;
    padding: 20px;
    margin-bottom: 10px;
}